/*
/*/
!/.gitignore
!/.git
!/milestones/
!/milestones/*
!/scripts/
!/scripts/*
!/public/
/public/*
!/k_globals/
!/k_globals/*
!/public/css/
!/public/js
!/public/js/*
!/public/js/scripts/
!/public/js/scripts/*
!/skeleton/
!/skeleton/*
