body {
    background-color:262626;
}

.fa-refresh { 
    color: #FF0D3F;
    font-size: 20px;
}

.hidden {
	display: none;
}

/*
#graph-container {
    flex:auto;
    flex-direction: row;
}
*/
.arrow {float:left;}
.c {float:left;}
.c1 {float:left;}
.c_key {float:inherit;}
.c1_key {float:inherit;}